* {
    box-sizing: border-box;
}

.icons {
    position: relative;
}

.icons::before {
    position: absolute;
    content: attr(data-icons);
    text-transform: uppercase;
    top: 0.2em;
    right: 1.5em;
    color: #ababab;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

.icons::after {
    position:absolute;
    content: "book " attr(data-chapter);
    text-transform: uppercase;
    bottom: 0;
    right: 1.5em;
    color: #ababab;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
}

.icons:hover::before, .icons:hover::after {
    opacity: 1;
}
