* {
    box-sizing: border-box;
}

.icons {
    position: relative;
}

.icon {
    outline: 1px solid red;
    margin: 3px;
}

.icon-container {
    position: absolute;
    outline: 2px solid blue;
    right: 0px;
    top: 0px;
    /* Values calc'ed based on kiera theme blockquote styles. */
    margin-right: 1.1em;
    margin-top: 0.1em;
}
